.mm_header {
  height: 50px;
  width: 100%;
  background-color: #f4483e;
  position: relative;
  padding: 0 50px;
  color: #fff;
}
.mm_header h1 {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 0;
}
.mm_header .icon_back,
.mm_header .mm_app {
  position: absolute;
  top: 0;
}
.mm_header .icon_back {
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #fff;
  left: 0;
  width: 50px;
  height: 50px;
}
.mm_header .mm_app {
  right: 0;
}
.mm_header .mm_app a {
  display: block;
  padding: 8px;
}
.mm_header .mm_app img {
  width: 34px;
  height: 34px;
}
.mm_bcj .bcj_nav {
  margin-bottom: 5px ;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}
.mm_bcj .bcj_nav li {
  float: left;
  line-height: 38px;
}
.mm_bcj .bcj_nav li a {
  height: 38px;
  margin: 0 .12rem;
  display: block;
  border-bottom: 1px solid transparent;
}
.mm_bcj .bcj_nav li.current a {
  border-bottom: 1px solid red;
  color: red;
}
.mm_bcj .bcj_content {
  padding: 0 5px;
}
.mm_bcj .bcj_content li {
  padding: 10px 0;
  margin-bottom: 10px;
}
.mm_bcj .bcj_content li a {
  display: block;
}
.mm_bcj .bcj_content .img_box {
  float: left;
}
.mm_bcj .bcj_content .img_box img {
  width: 1.3rem;
  height: 1.3rem;
}
.mm_bcj .bcj_content .img_info {
  overflow: hidden;
}
.mm_bcj .bcj_content .img_info .title {
  height: .2rem;
}
.mm_bcj .bcj_content .img_info .price {
  height: .3rem;
  line-height: .3rem;
}
.mm_bcj .bcj_content .img_info .price .nowPrice {
  color: red;
  font-size: .18rem;
}
.mm_bcj .bcj_content .img_info .price .oldPrice {
  color: #666;
  text-decoration: line-through;
}
.mm_bcj .bcj_content .ticket_num {
  padding: 10px 0;
}
.mm_bcj .bcj_content .ticket_num .num {
  color: #fc353a;
}
.mm_bcj .bcj_content .ticket_num .percent {
  display: inline-block;
  width: .82rem;
  height: 14px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  border-radius: 20px ;
  border: 1px solid #fc353a;
  background-color: #ffb7b7;
  text-align: center;
}
.mm_bcj .bcj_content .ticket_link {
  line-height: .3rem;
}
.mm_bcj .bcj_content .ticket_link .left {
  height: .3rem;
  float: left;
  border: 1px dashed #fc353a;
}
.mm_bcj .bcj_content .ticket_link .right {
  float: right;
  background-color: #f4483e;
  height: .3rem;
  width: .6rem;
  border-radius: 3px;
  color: #fff;
}
.mm_bcj .bcj-list {
  font-size: 14px;
  max-width: 960px;
  margin: 0px auto;
}
.mm_bcj .bcj-list:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
.mm_bcj .bcj-list ul li {
  margin: 6px auto;
  background-color: #ffffff;
  position: relative;
  padding: 10px 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.mm_bcj .bcj-list ul li:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
.mm_bcj .bcj-list ul li a.gobuy {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.mm_bcj .bcj-list ul li a.goquan {
  display: block;
  position: absolute;
  width: 120px;
  height: 60px;
  z-index: 0;
  bottom: 0px;
  left: 130px;
  z-index: 3;
}
.mm_bcj .bcj-list ul li .pic {
  float: left;
  width: 135px;
  height: 130px;
}
.mm_bcj .bcj-list ul li .pic img {
  width: 130px;
  height: 130px;
  border: none;
}
.mm_bcj .bcj-list ul li .pic i {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 50%;
  display: none;
  text-align: center;
}
.mm_bcj .bcj-list ul li .pic i:before {
  margin-top: 15px;
  font-size: 12px;
  content: '抢光啦';
  display: block;
}
.mm_bcj .bcj-list ul li .pic i:after {
  font-size: 11px;
  margin-top: 2px;
  content: 'SOLD OUT';
  display: block;
}
.mm_bcj .bcj-list ul li .inf .i {
  height: auto;
}
.mm_bcj .bcj-list ul li .inf .i .t {
  min-height: 28px;
  max-height: 40px;
  line-height: 1.5;
  font-weight: 400;
  text-align-last: left;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mm_bcj .bcj-list ul li .inf .i .pr {
  font-size: 24px;
  color: #fc353a;
  margin-top: 4px;
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
}
.mm_bcj .bcj-list ul li .inf .i .pr i {
  font-size: 16px;
  vertical-align: middle;
  font-style: normal;
  margin-right: 4px;
}
.mm_bcj .bcj-list ul li .inf .i .pr em {
  font-size: 12px;
  vertical-align: middle;
  font-style: normal;
}
.mm_bcj .bcj-list ul li .inf .i .pr del {
  text-decoration: line-through;
  font-size: 13px;
  color: #a8a8a8;
  margin-left: 12px;
  vertical-align: middle;
}
.mm_bcj .bcj-list ul li .inf .o:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
.mm_bcj .bcj-list ul li .inf .o {
  position: absolute;
  bottom: 10px;
  padding: 0px 5px 0px 135px;
  box-sizing: border-box;
  width: 100%;
}
.mm_bcj .bcj-list ul li .inf .o .bar {
  height: 25px;
  overflow: hidden;
}
.mm_bcj .bcj-list ul li .inf .o .bar i {
  position: relative;
  box-sizing: border-box;
  width: 82px;
  height: 14px;
  border: 1px solid #fc353a;
  border-radius: 6px;
  color: #fff;
  font-weight: 900;
  background: #ffb7b7;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}
.mm_bcj .bcj-list ul li .inf .o .bar i em {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background: #fc353a;
  display: block;
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
  width: 0;
}
.mm_bcj .bcj-list ul li .inf .o .bar i span {
  font-size: 12px;
  line-height: 11px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
.mm_bcj .bcj-list ul li .inf .o .bar b {
  font-weight: normal;
  font-size: 12px;
  color: #999999;
  vertical-align: 3px;
  margin-left: 10px;
  color: #fc353a;
}
.mm_bcj .bcj-list ul li .inf .o .b .q {
  float: left;
}
.mm_bcj .bcj-list ul li .inf .o .b .q a {
  border: 1px dotted #e4393c;
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: block;
  padding: 0px 5px;
  font-size: 12px;
  color: #e4393c;
  position: relative;
  z-index: 1;
}
.mm_bcj .bcj-list ul li .inf .o .b .g {
  float: right;
  margin-right: 5px;
}
.mm_bcj .bcj-list ul li .inf .o .b .g a {
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: block;
  background-color: #ff5e5d;
  color: #ffffff;
  border-radius: 4px;
  padding: 0px 5px;
  font-size: 12px;
  position: relative;
  z-index: 1;
}
.mm_bcj .bcj-list ul li.noquan .inf .o .b .q a {
  color: #999999;
  border-color: #999999;
}
.mm_bcj .bcj-list ul li.noitem .pic i {
  display: block;
}
.mm_bcj .bcj-list ul li.noitem .inf .i .pr {
  color: #999999;
}
.mm_bcj .bcj-list ul li.noitem .inf .o .b .g a {
  background-color: #999999;
}
