.mm_header {
  height: 50px;
  width: 100%;
  background-color: #FF841D;
  position: relative;
  padding: 0 50px;
  color: #fff;
}
.mm_header h1 {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 0;
}
.mm_header .icon_back,
.mm_header .mm_app {
  position: absolute;
  top: 0;
}
.mm_header .icon_back {
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #fff;
  left: 0;
  width: 50px;
  height: 50px;
}
.mm_header .mm_app {
  right: 0;
}
.mm_header .mm_app a {
  display: block;
  padding: 8px;
}
.mm_header .mm_app img {
  width: 34px;
  height: 34px;
}
.mm_gsproduct .one_nav {
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.mm_gsproduct .one_nav a {
  float: left;
  width: 33.3%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.mm_gsproduct .mall ul,
.mm_gsproduct .area ul,
.mm_gsproduct .price ul {
  position: absolute;
  background-color: #fff;
  top: 41px;
  left: 0;
  width: 100%;
  display: none;
}
.mm_gsproduct .mall ul li,
.mm_gsproduct .area ul li,
.mm_gsproduct .price ul li {
  height: 40px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding-left: 10px;
}
.mm_gsproduct .mall.current ul,
.mm_gsproduct .area.current ul,
.mm_gsproduct .price.current ul {
  display: block;
}
.mm_gsproduct .content {
  padding: 10px 0;
}
.mm_gsproduct .content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mm_gsproduct .content ul li {
  background-color: #fff;
  width: 48%;
  margin-bottom: 10px;
  padding: 0 10px;
}
.mm_gsproduct .content ul li p {
  height: 40px;
}
.mm_gsproduct .content img {
  width: 1.74rem;
  height: 1.74rem;
  margin: 0 auto;
}
.mm_gsproduct .content .goBtn {
  width: .6rem;
  height: .30rem;
  background-color: orange;
  color: #fff;
  text-align: center;
  line-height: .3rem;
  border-radius: 5px;
}
.mm_gsproduct .content .golink {
  padding: 10px 0;
}
