.mm_header {
  height: 50px;
  width: 100%;
  background-color: #FF841D;
  position: relative;
  padding: 0 50px;
  color: #fff;
}
.mm_header h1 {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 0;
}
.mm_header .icon_back,
.mm_header .mm_app {
  position: absolute;
  top: 0;
}
.mm_header .icon_back {
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #fff;
  left: 0;
  width: 50px;
  height: 50px;
}
.mm_header .mm_app {
  right: 0;
}
.mm_header .mm_app a {
  display: block;
  padding: 8px;
}
.mm_header .mm_app img {
  width: 34px;
  height: 34px;
}
.mm_discount {
  background-color: #fff;
  padding: .2rem .1rem;
}
.mm_discount .title {
  font-size: .18rem;
  margin: 5px 0 5px;
}
.mm_discount .price {
  color: orange;
  font-size: .14rem;
}
.mm_discount .inline {
  height: 25px;
  margin: 12px 0;
  font-size: 12px;
  color: #666;
}
.mm_discount .content .left {
  overflow: hidden;
  width: 100%;
}
.mm_discount .content .left .info {
  font-size: 16px;
  color: #666;
  padding: 10px 0;
}
.mm_discount .content .left .info .imgsmall img {
  width: 120px;
  height: 120px;
  vertical-align: middle;
}
.mm_discount .content .left #disstorck {
  width: 20%;
  margin: 0 auto;
  border: 1px solid #eee;
}
.mm_discount .content .left #disstorck a {
  display: block;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.mm_discount .content .left #disstorck a span strong {
  float: right;
  color: #FF841D;
}
.mm_discount .content .right {
  width: 1.2rem;
  float: right;
  height: 100%;
}
.mm_discount .content .gobuy {
  text-align: center;
  line-height: .3rem;
  height: .3rem;
  margin: .2rem .1rem;
  border-radius: 5px;
  background-color: orange;
}
.mm_discount .content .gobuy a {
  color: #fff;
}
.mm_discount .erweima {
  padding: .2rem .1rem;
  width: 100%;
}
.mm_discount .erweima img {
  margin: 0 auto;
  width: 100%;
}
.cu-content-pl {
  background-color: #ffffff;
}
.cu-content-pl .hover {
  background-color: #f8f8f8 !important;
}
.cu-content-pl .tit {
  font-size: 16px;
  padding: 6px 8px;
}
.cu-content-pl .reply {
  padding: 6px 8px;
}
.cu-content-pl .reply .form {
  border: 2px solid #ECEAE8;
  border-radius: 2px;
  padding: 4px 0 0 4px;
  background-color: #fff;
  position: relative;
  width: 98%;
  margin: 0px auto;
}
.cu-content-pl .reply .form textarea {
  width: 100%;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  line-height: 22px;
  font-size: 14px;
  outline: 0;
  color: #666;
  height: 68px;
}
.cu-content-pl .reply .form .ctrl {
  background-color: #fbfbfb;
  height: 36px;
  margin-left: -4px;
  border-top: solid 1px #f2f2f2;
}
.cu-content-pl .reply .form .ctrl button {
  position: absolute;
  right: -2px;
  bottom: -2px;
  background: #ff841d;
  border: none;
  border: 2px solid #ff841d;
  border-left: none;
  border-top: none;
  padding: 0px;
  width: 100px;
  height: 39px;
  color: #fff;
  outline: 0;
  border-radius: 0 0 2px 0;
  font-size: 16px;
}
.cu-content-pl .reply .form .ctrl input {
  position: absolute;
  right: -2px;
  bottom: -2px;
  background: #ff841d;
  border: none;
  border: 2px solid #ff841d;
  border-left: none;
  border-top: none;
  padding: 0px;
  width: 100px;
  height: 39px;
  color: #fff;
  outline: 0;
  border-radius: 0 0 2px 0;
  font-size: 16px;
}
.cu-content-pl .list ul li {
  padding: 18px 10px;
  background-color: #FFFFFF;
}
.cu-content-pl .list .userimg {
  width: 40px;
  float: left;
  overflow: hidden;
}
.cu-content-pl .list .userimg img {
  width: 40px;
  background-position: top;
  border-radius: 20px;
  height: 40px;
}
.cu-content-pl .list .con {
  overflow: hidden;
  padding-left: 10px;
}
.cu-content-pl .list .con .name {
  margin-bottom: 6px;
}
.cu-content-pl .list .con .name .username {
  color: #5997c0;
  font-size: 13px !important;
  float: left;
}
.cu-content-pl .list .con .name .time {
  color: #999999;
  font-size: 13px !important;
  float: right;
}
.cu-content-pl .list .con .yinyong {
  background-color: #FBFBFB;
  border: 1px solid #eeeeee;
  padding: 4px 6px;
  border-radius: 3px;
  margin-top: 2px;
}
.mm_footer .foot_top {
  margin-top: 0;
}
