.mm_header {
  height: 50px;
  width: 100%;
  background-color: #FF841D;
  position: relative;
  padding: 0 50px;
  color: #fff;
}
.mm_header h1 {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 0;
}
.mm_header .icon_back,
.mm_header .mm_app {
  position: absolute;
  top: 0;
}
.mm_header .icon_back {
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #fff;
  left: 0;
  width: 50px;
  height: 50px;
}
.mm_header .mm_app {
  right: 0;
}
.mm_header .mm_app a {
  display: block;
  padding: 8px;
}
.mm_header .mm_app img {
  width: 34px;
  height: 34px;
}
.mm_comment {
  margin-top: 5px;
}
.mm_comment .content .item_info {
  background-color: #fff;
  padding: 14px 8px;
  border-bottom: 1px solid #ccc;
}
.mm_comment .content .item_info .left {
  width: 100px;
  height: 100px;
  float: left;
}
.mm_comment .content .item_info .left img {
  width: 100px;
  height: 100px;
}
.mm_comment .content .item_info .right {
  overflow: hidden;
  padding-left: 10px;
}
.mm_comment .content .item_info .right p {
  height: 57px;
}
.mm_comment .content .item_info .right p span {
  color: orange;
}
.mm_comment .content .item_info .right .other {
  font-size: 12px;
  margin-top: 10px;
}
.mm_comment .content .item_info .right .other .mall {
  float: left;
}
.mm_comment .content .item_info .right .other .comment {
  float: right;
}
.mm_comment .page {
  padding: .2rem 0 ;
  background-color: #fff;
}
.mm_comment .page span {
  float: left;
  width: 33.3%;
  line-height: .33rem;
  text-align: center;
}
.mm_comment .page span a {
  background-image: linear-gradient(to bottom, #f1f1f1, #d4d4d4);
  border-radius: 5px;
  border: 1px solid #ccc;
}
.mm_comment .page span a,
.mm_comment .page span select {
  display: block;
  margin: 0 auto;
  width: 82px;
  height: 33px;
}
.mm_comment .page span select {
  padding-left: 10px;
  width: 95px;
  height: 35px;
}
.mm_comment .page span select option {
  text-align: center;
}
