.mm_cateNav {
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.mm_list a {
  display: block;
}
.mm_list .product_item {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.mm_list .product_item .text {
  overflow: hidden;
  padding-left: 10px;
}
.mm_list .product_item .text .title {
  height: 40px;
}
.mm_list .product_item .text .price {
  padding: 10px 0;
  color: orange;
  font-size: 16px;
}
.mm_list .page {
  padding: .2rem 0 ;
  background-color: #fff;
}
.mm_list .page span {
  float: left;
  width: 33.3%;
  line-height: .33rem;
  text-align: center;
}
.mm_list .page span a {
  background-image: linear-gradient(to bottom, #f1f1f1, #d4d4d4);
  border-radius: 5px;
  border: 1px solid #ccc;
}
.mm_list .page span a,
.mm_list .page span select {
  display: block;
  margin: 0 auto;
  width: 82px;
  height: 33px;
}
.mm_list .page span select {
  padding-left: 10px;
  width: 95px;
  height: 35px;
}
.mm_list .page span select option {
  text-align: center;
}
